In [41]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [42]:
browser = Browser('chrome', headless = False)

In [43]:
# URL to be scrapped
url=browser.visit('https://mars.nasa.gov/news/')

In [44]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [45]:
news_title = soup.find("div",class_="content_title").text

news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")
# <div class="content_title"><a href="/news/8528/hirise-views-nasas-insight-and-curiosity-on-mars/" target="_self">HiRISE Views NASA's InSight and Curiosity on Mars</a></div>

Title: HiRISE Views NASA's InSight and Curiosity on Mars
Para: New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.

# JPL Mars Space Images - Featured Image

In [56]:
url_image = ('https://www.jpl.nasa.gov/spaceimages/?search=mars&category=featured#submit')
browser.visit(url_image)

In [57]:
#Getting the base url
image=browser.html
soup=bs (image, 'html.parser')
image_url = soup.find("img",class_="thumb") ['src']
featured_img_url ='https://www.jpl.nasa.gov/'+ url_image
print(featured_img_url)

https://www.jpl.nasa.gov/https://www.jpl.nasa.gov/spaceimages/?search=mars&category=featured#submit

# Mars weather getting text from twitter

In [62]:
browser.visit('https://twitter.com/marswxreport?lang=en')
soup = bs(html_weather, "html.parser")
tweet = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
soup["tweet"] = tweet
print (tweet)

InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)
pressure at 7.20 hPapic.twitter.com/VONawbIeG4

In [74]:
# #get image url using BeautifulSoup
# html_image = browser.html
# soup = BeautifulSoup(html_image, "html.parser")
# img_url = soup.find ("img", class_="fancybox-image")["src"]
# # full_img_url = base_url + img_url
# # print(full_img_url)

Mars fact

In [71]:
table_url = "https://space-facts.com/mars/"
mars_facts=pd.read_html(table_url)
mars_facts_df=mars_facts [1]
mars_facts_df.columns=['Parameter', 'Values']
mars_facts_df.set_index('Parameter', inplace=True)
mars_facts_df

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [68]:
#html to table string
html_table=mars_facts_df.to_html()
mars_table_html=html_table.replace('\n','')
mars_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [70]:
mars_facts_df.to_html('mars_table.html')
! open mars_table.html

# Mars Hemisphere

In [73]:
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
html=browser.html
soup = BeautifulSoup(html_image, "html.parser")
results = soup.find ('div', class_='result-list')

hemi_info= results.find_all('div', class='item')

SyntaxError: invalid syntax (<ipython-input-73-cb87e0a7777b>, line 6)

In [63]:
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')

NameError: name 'url_hemisphere' is not defined